.container{

 margin-left: 27rem;
 margin-right: 27rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

button{
  padding: 1rem 4rem; 
  display: block;
  /* border: none; */
  cursor: pointer;
  outline: none;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

#display{
  border: 2px solid black;
  padding: 4rem 2rem;
  width: 51%;
  margin-left: 27rem;
  margin-top: 7rem;
  background-color: black;
  color: white;
}

.card-container{
  box-sizing: border-box;
  
}

body{
  font: 1rem 2rem 'Roboto';
}