* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 3rem;
    margin-left: 5rem;
}

#text{
    font-size: 3rem;
    font-family: "Supermercado One";
}

textarea{
    margin-top: 4rem;
}

#preview{
    margin-top: 2rem;
}